version: "3.8"

services:
  traefik:
    container_name: traefik
    image: traefik:{{ traefik_version }}
    restart: unless-stopped
    command:
      - --providers.docker
      - --entrypoints.web.address=:80
      - --entrypoints.zwave.address=:3000
      - --providers.docker.exposedByDefault=false
    ports:
      - 80:80
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro

  dashboard:
    container_name: dashboard
    image: nginx:{{ nginx_version }}
    restart: unless-stopped
    volumes:
      - {{ runtime_root }}/dashboard:/usr/share/nginx/html
    labels:
      - traefik.enable=true
      - traefik.http.routers.dashboard.rule=Host(`dashboard.house.hill`)
      - traefik.http.routers.dashboard.entrypoints=web
      - traefik.http.services.dashboard.loadbalancer.server.port=80

networks:
  default:
    ipam:
      driver: default
      config:
        - subnet: "{{ docker_subnet }}"

include:
  - theater.yaml
  - hass.yaml
