version: "3.8"

services:
  hass:
    container_name: hass
    image: "ghcr.io/home-assistant/home-assistant:{{ hass_version }}"
    volumes:
      - {{ runtime_root}}/config/hass:/config
      - /etc/localtime:/etc/localtime:ro
      - /run/dbus:/run/dbus:ro
    restart: unless-stopped
    privileged: true
    labels:
      - traefik.enable=true
      - traefik.http.routers.hass.rule=Host(`hass.house.hill`)
      - traefik.http.services.hass.loadbalancer.server.port=8123
      - traefik.http.routers.hass.entrypoints=web

  zwave:
    container_name: zwave-js-ui
    image: zwavejs/zwave-js-ui:latest
    restart: always
    tty: true
    stop_signal: SIGINT
    environment:
      - SESSION_SECRET=mysupersecretkey
      - ZWAVEJS_EXTERNAL_CONFIG=/usr/src/app/store/.config-db
      - TZ={{ time_zone }}
    devices:
      # Do not use /dev/ttyUSBX serial devices, as those mappings can change over time.
      # Instead, use the /dev/serial/by-id/X serial device for your Z-Wave stick.
      - '/dev/serial/by-id/insert_stick_reference_here:/dev/zwave'
    volumes:
      - zwave-config:/usr/src/app/store
    labels:
      - traefik.enable=true
      - traefik.http.routers.zwaveui.rule=Host(`zwave.house.hill`)
      - traefik.http.routers.zwaveui.entrypoints=web
      - traefik.http.services.zwaveui.loadbalancer.server.port=8091
      - traefik.http.routers.zwavews.rule=Host(`zwavews.house.hill`)
      - traefik.http.services.zwavews.loadbalancer.server.port=3000
      - traefik.http.routers.transmission.entrypoints=zwave
