  version: "3.8"

  services:
    wireguard:
      image: ghcr.io/linuxserver/wireguard:latest
      container_name: wireguard
      restart: unless-stopped
      sysctls:
        - net.ipv4.conf.all.src_valid_mark=1
      cap_add:
        - NET_ADMIN
        - SYS_MODULE
      environment:
        - PUID={{ uid }}
        - PGID={{ gid }}
        - TZ={{ time_zone }}
      volumes:
        - {{ runtime_root }}/config/wireguard:/config
        - /lib/modules:/lib/modules
      ports:
        - 51820:51820/udp   # Wireguard port
        - 23877:23877     # Transmission VPN Ingress
        - 23877:23877/udp # Transmission VPN Ingress


    # Configure Plex
    plex:
      container_name: plex
      image: plexinc/pms-docker:{{ plex_version }}
      restart: unless-stopped
      network_mode: host
      environment:
        - PLEX_UID={{ uid }}
        - PLEX_GID={{ gid }}
        - TZ={{ time_zone }}
        - CHANGE_CONFIG_DIR_OWNERSHIP=false
      volumes:
        - {{ runtime_root }}/config/plex:/config
        - {{ data_root }}/transcode:/transcode
        - {{ data_root }}/data:/data


    # Configure Jackett so it can download needed torrent files
    jackett:
      container_name: jackett
      image: ghcr.io/linuxserver/jackett:{{ jackett_version }}
      restart: unless-stopped
      network_mode: service:wireguard
      environment:
        - PUID={{ uid }}
        - PGID={{ gid }}
        - TZ={{ time_zone }}
      volumes:
        - {{ runtime_root }}/config/jackett:/config
        - {{ data_root }}/downloads/blackhole:/downloads
      labels:
        - traefik.enable=true
        - traefik.http.routers.jackett.rule=Host(`jackett.house.hill`)
        - traefik.http.routers.transmission.entrypoints=web
        - traefik.http.services.jackett.loadbalancer.server.port=9117

    # Configure Sonarr to catalog the TV shows
    sonarr:
      container_name: sonarr
      image: ghcr.io/linuxserver/sonarr:{{ sonarr_version }}
      restart: unless-stopped
      environment:
        - PUID={{ uid }}
        - PGID={{ gid }}
        - TZ={{ time_zone }}
      volumes:
        - /etc/localtime:/etc/localtime:ro
        - {{ runtime_root }}/config/sonarr:/config
        - {{ data_root }}/data/TVShows:/tv
        - {{ data_root }}/downloads:/downloads
      labels:
        - traefik.enable=true
        - traefik.http.routers.sonarr.rule=Host(`sonarr.house.hill`)
        - traefik.http.routers.transmission.entrypoints=web


    # Configure Radarr to catalog movies
    radarr:
      container_name: radarr
      image: ghcr.io/linuxserver/radarr:{{ radarr_version }}
      restart: unless-stopped
      environment:
        - PUID={{ uid }}
        - PGID={{ gid }}
        - TZ={{ time_zone }}
      volumes:
        - {{ runtime_root }}/config/radarr:/config
        - {{ data_root }}/data/Movies:/movies
        - {{ data_root }}/downloads:/downloads
      labels:
        - traefik.enable=true
        - traefik.http.routers.radarr.rule=Host(`radarr.house.hill`)
        - traefik.http.routers.transmission.entrypoints=web


    # Configure Tranmission to download files from torrent based
    # on the torrent file fetched by Jackett
    transmission:
      container_name: transmission
      image: ghcr.io/linuxserver/transmission:{{ transmission_version }}
      restart: unless-stopped
      network_mode: service:wireguard
      environment:
        - PUID={{ uid }}
        - PGID={{ gid }}
        - TZ={{ time_zone }}
      volumes:
        - {{ runtime_root }}/config/transmission:/config
        - {{ data_root }}/downloads:/downloads
        - {{ data_root }}/downloads/blackhole:/watch
      labels:
        - traefik.enable=true
        - traefik.http.routers.transmission.rule=Host(`transmission.house.hill`)
        - traefik.http.routers.transmission.entrypoints=web
        - traefik.http.services.transmission.loadbalancer.server.port=9091

    unpackerr:
      container_name: unpackerr
      image: golift/unpackerr:{{ unpackerr_version }}
      volumes:
        - {{ data_root }}/downloads:/downloads
      restart: always
      user: "{{ uid }}:{{ gid }}"
      environment:
        - TZ={{ time_zone }}
        # Sonarr Config
        - UN_SONARR_0_URL=http://sonarr.house.hill
        - UN_SONARR_0_API_KEY={{ sonarr_api_key }}
        # Radarr Config
        - UN_RADARR_0_URL=http://radarr.house.hill
        - UN_RADARR_0_API_KEY={{ radarr_api_key }}
