<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>House on the Hill</title>
    <style>
        .link {
            display: block;
            max-width: 550px;
            margin: 0 auto 5px;
            padding: 15px 20px;
            font-size: 2rem;
            line-height: 1.5;
            text-dectoration: none;
            transition: all 0.2s ease-in-out;
            color: black;
            font-family: serif;
        }
    </style>
</head>

<body>
    <div class="links">
        {% for item in dashboard %}
        <div class="link">
            {% set url = item.url|default("http://" + item.name + ".house.hill") %}
            <a href="{{ url }}">{{ item.name|capitalize }}</a> | {{ item.description }}
        </div>
        {% endfor %}
    </div>

</body>

</html>